
footer {
    background: #f8f9fa; 
    background: -webkit-linear-gradient(to right, #f6f5f5, #fbfeff); 
    background: linear-gradient(to right, #d9d7d7, #dadade); 
    position: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    height: 60px; 
    flex-direction: column;
}

.footerContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px; 
}

.footerText {
    color: rgb(10, 10, 10);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    font-size: 1.05em;
}



