.user-table-container {
    position: relative;
    top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: calc(100vh - 50px);
    background: #f8f9fa; 
  background: -webkit-linear-gradient(to right, #f6f5f5, #848586); 
  background: linear-gradient(to right, #f9f6f6, #ccccd1); 
    margin: 0;
    top:0;
    padding: 20px;
  }
  
  .user-table-heading {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
  
  .user-table {
    width: 80%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 10px; 
  }
  
  .user-table th, .user-table td {
    padding: 12px 15px;
    border: 2px solid black;
    text-align: left;
  }
  
  .user-table thead {
    color: rgb(8, 7, 7);
    border: 2px solid black;
  }
  
  .user-table th {
    font-weight: bold;
  }
  .add-user-button{
    margin-left: 1010px;
   width:180px;
  }
  .user-table tbody tr:hover {
    background-color: #e9ecef;
  }
  .delete-user-button{
    background-color: red;
  }